
spring:
  ai:
    google:
      genai:
        api-key: "add your key"
        chat:
          options:
            model: gemini-2.5-flash

        embedding:
          enabled: false

server:
  port: 8080
